$font-stack: 'Roboto';
$primary-color: #333;
$light-color: #BDBDBD;
$footer-color: #2C2C2C;
$bacground-color: #FBFBFB;

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style: none;
}

@mixin container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

// кнопка
@mixin button {
    width: 222px;
    height: 71px;
    cursor: pointer;
}

// стили для надписи на кнопке
@mixin button_title {
    text-decoration: none;
    font-family: $font-stack;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

// большой светлый заголовок

@mixin big_title_light {
    font-family: $font-stack;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: $light-color;
}

// большой темный заголовок

@mixin big_title_dark {
    font-family: $font-stack;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: $primary-color;
}

// стили текста
@mixin text_style {
    font-family: $font-stack;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: black;
}

// подзаголовки
@mixin subtitle {
    font-family: $font-stack;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: $light-color;

}

// текст навигации
@mixin nav_style {
    font-family: $font-stack;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: $primary-color;
    text-transform: uppercase;
}

// заголовок футер
@mixin footer_h {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

// текст футер
@mixin footer_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

// стиль подзаголовок страница Our Project
@mixin title_our_project {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: $light-color;
}

// Стиль линии к заголовку
@mixin h1_with_line {
    display: block;
    width: 1170px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #F2F2F2;
}