.sertif__title{
    margin-bottom: 3.8%;
    margin-top: 3.8%;
}


.certif__img{
    width: 100%;
    }

.certif__block{
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-bottom: 7.6%;
}