.footer {
    background-color: $footer-color;
    max-height: 420px;
    max-width: 100%;
}

.footer__content {
    padding-top: 3.75em;
    display: flex;
    justify-content: space-between;
}

.footer__info {
    flex-grow: 1;

    h3 {
        @include footer_h;
        margin-top: 0;
        margin-bottom: 26px;

    }

    li {
        padding-bottom: 20px;
    }
}

.footer__contacts {
    flex-grow: 1;

    h3 {
        @include footer_h;
        margin-top: 0;
        margin-bottom: 30px;
    }

    img {
        padding-right: 15px;
    }

    .footer__link-break {
        padding-left: 24px;
        padding-bottom: 40px;
    }

    li {
        padding-bottom: 30px;

    }
}

.footer__sm {
    flex-grow: 0.5;
    display: inline;
    padding-right: 33px;

    h3 {
        @include footer_h;
        margin-top: 0;
        margin-bottom: 28px;
    }
}

.footer__sm-title {
    margin-bottom: 26px;
}

.footer__rights {
    min-height: 69px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 22px;
    color: #C8C8C880;
    opacity: 50%;

}

.footer__logo {
    flex-grow: 1;
    margin-left: -35px;
}


a {
    @include footer_text;
    text-decoration: none;
}

@media only screen and (max-width:480px) {

    .footer__info-container {
        display: none;
    }

    .info__title {
        display: none;
    }
}