.footer {
    background-color: $footer-color;
    max-height: 420px;
    max-width: 100%;
}

.footer__content {
    max-height: 350px;
    padding-top: 3.75rem;
    display: flex;
    justify-content: space-between;

}

.footer__logo {
    flex-basis: 20%;
    padding-right: 2rem;

    img {
        max-width: 100%;
    }
}


.footer__info {
    flex-basis: 20%;

    h3 {
        @include footer_h;
        margin-top: 0;
        margin-bottom: 1.62rem;

    }

    li {
        padding-bottom: 10%;
        padding-right: 2rem;
    }
}

.footer__contacts {
    flex-basis: 35%;

    h3 {
        @include footer_h;
        margin-top: 0;
        margin-bottom: 1.8rem;
    }

    img {
        max-width: 100%;
        padding-right: 0.9rem;
    }

    li {
        padding-bottom: 7%;

    }

}

.footer__contacts-link-break {
    padding-left: 1.5rem;
    padding-bottom: 11%;
}

.footer__sm {
    flex-basis: 20%;


    h3 {
        @include footer_h;
        margin-top: 0;
        margin-bottom: 1.8rem;
    }
}

.footer__sm-title {
    margin-bottom: 1.62rem;
}

.footer__sm-content {
    display: flex;
    flex-direction: row;
}

.footer__rights {
    min-height: 69px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 22px;
    color: #C8C8C880;
    opacity: 50%;

}

a {
    @include footer_text;
    text-decoration: none;
}

@media only screen and (max-width:480px) {

    .footer__logo {
        display: none;
    }

    .footer__info {
        display: none;
    }

    .footer__sm-title {
        display: none;
    }

    .footer__contacts-title {
        display: none;
    }

    .footer__content {
        display: grid;
        grid-column: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas:
            "sm"
            "contacts";
        justify-content: center;
    }

    .footer__contacts-item {
        grid-area: contacts;
    }

    .footer__sm-content {
        grid-area: sm;
    }
}