.header {
    width: 100%;
    min-height: 102px;
    display: flex;
    align-items: center;

    &__logo {
        flex-basis: 25%;
        justify-self: start;
    }

    &__nav {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;

    }

    a {
        @include nav_style;
        text-decoration: none;
    }

    #mn {
        padding: 4px 8px 4px 8px;
        border-top: 1px #333 solid;
        border-bottom: 1px #333 solid;
    }
}

.container {
    @include container;
}