.first-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-screen-block1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 400px;

}

.light-title {
    @include big_title_light;
    width: 17.5%;
}

.dark-title {
    @include big_title_dark;
    text-transform: none;
}


.switch-arrow {
    width: 17px;
    margin-top: 5px;
}


.switch {
    width: 3.3em;
    height: 3.3em;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;

}

.right-switch {
    margin-left: 20px;
}

.line {
    width: 97%;
    border: solid 1px $bacground-color;
    position: relative;
    bottom: 29px;
    left: 129px;
    ;
}

.switch:hover {
    background-color: $bacground-color;
}

.left-arrow {
    transform: rotate(180deg);

}

.figures {
    display: flex;
}

.figure {
    font-family: $font-stack;
    font-weight: 400;
    font-size: 24px;
    color: $light-color;
}

.figure:active {
    color: black;
}

.border {
    width: 44px;
    border-bottom: solid 2px #E0E0E0;
    transform: rotate(130deg);
    align-self: center;
    margin: 0 30px;
}

.first-screen__box {
    position: relative;
    max-width: 48.1em;
    max-height: 51em;
    margin-bottom: 120px;
    display: flex;
}


.first-screen__btn {
    position: absolute;
    align-self: flex-end;
}

.btn {
    @include button;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.first-screen__btn {
    display: flex;
}

.btn-title {
    @include button_title;
}

.title-view {
    color: black;
}

.arrow {
    width: 17px;
    margin-left: 18px;
}


.about {
    height: 27em;
    background-color: $bacground-color;
    display: flex;
    justify-content: center;
}

.about__images {
    flex-basis: 50%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 63% 1fr;
    gap: 40px;
    margin-left: 5em;

}

.about__article {
    display: flex;
    flex-direction: column;
    margin-left: 1.87em;
    margin-top: 1.56em;
    flex-grow: 1;
}

.img--center {
    margin-top: 30px;
}

.subtitle {
    @include subtitle;
}

.about__title {
    margin-bottom: 20px;
}

.about__text {
    @include text_style;
    max-width: 25rem;
    margin-bottom: 8%;
    display: flex;
    flex-wrap: wrap;
}

.about__btn {
    display: flex;


    .title-read {
        color: black;
    }
}

.focus__block {
    margin-bottom: 7.5em;
}

.focus__subtitle {
    margin-top: 9.3%;
    margin-bottom: 3.8%;

}


.focus__descr {
    display: flex;
    justify-content: space-between;
}

.state {
    display: flex;
}

.number {
    font-family: $font-stack;
    font-weight: 900;
    font-size: 200px;
    line-height: 150px;
    color: #F2F2F2;
    margin-right: 4%;
}

.focus__text {
    font-family: $font-stack;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: $primary-color;
    align-self: center;

}

.focus__first {
    flex-basis: 35%;
}

.focus__second {
    flex-basis: 50%;
    margin-right: 6%;
}

.focus__two {
    margin-right: 6.5%;
}

.projects__subtitle {
    margin-bottom: 60px;
}

.projects__block {
    display: grid;
    gap: 30px;

    .projects__block-top {
        display: grid;
        column-gap: 30px;
        grid-template-columns: 48.5% 49%;
    }

    .projects__block-bottom {
        display: grid;
        column-gap: 30px;
        grid-template-columns: 25% 42% 28%;
    }
}

.projects__box {
    position: relative;
    display: flex;
    overflow: hidden;
}

.projects__box::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.671);
    opacity: 0;
    transition: all .4s ease;
    content: '';
}

.projects__box:hover:before {
    opacity: 1;
    transition: transform 0.3s ease-in-out;
}

.projects__box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.projects__box-title {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 79px;
    padding-bottom: 60px;
    font-family: $font-stack;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: white;
    transform: translateY(300px);
    transition: transform 0.3s ease-in-out;

}

.small-title {
    font-size: 56px;
    line-height: 50px;
    padding-left: 50px;
    padding-bottom: 90px;
}

.projects__box:hover .projects__box-title {
    opacity: 0.9;
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
}


.button-title {
    display: flex;
    align-items: center;
}

.title-more {
    margin-top: 18px;
}

.btn-block {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 120px;
}

.ourproject__btn {
    display: flex;
    background-color: $primary-color;
}

.title-all {
    color: white;
}


.contact__block {
    display: flex;
    justify-content: space-between;

}


.contact__subtitle {
    margin-bottom: 22px;
}

.contact__img {
    height: 370px;
    flex-grow: 0;
    overflow: hidden;

}

.contact__img-inner {
    width: 100%;
    height: 100%;
    object-fit: none;
    margin-left: 20px;
}

.contact__form {
    flex-basis: 40%;
    min-width: 290px;
}

.contact__form-item {
    max-width: 400px;
    width: 100%;
    min-height: 46px;
    background-color: $bacground-color;
    margin-bottom: 10px;
    padding-left: 21px;
    border: none;
    font-family: $font-stack;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #8D8D8D;

}

.message {
    padding-top: 14px;
    resize: none;
    height: 10.4em;
    margin-bottom: 4.8em;
}

.contact__btn {
    display: flex;
    background-color: $primary-color;
    margin-bottom: 120px;

    .title-send {
        color: white;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .figure {
        font-size: 24px;
    }

    .border {
        width: 36px;
        margin: 0 15px;
    }

    .about__images {
        grid-template-rows: 45% 1fr;
        margin-top: 8%;
    }

    .focus__descr {
        display: flex;
        flex-direction: column;
    }

    .number {
        font-size: 150px;
        line-height: 150px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .switch {
        width: 2.8em;
        height: 2.8em;
    }

    .figure {
        font-size: 18px;
    }

    .border {
        width: 36px;
        margin: 0 15px;
    }

    .focus__descr {
        display: flex;
        flex-direction: column;
    }

    .number {
        font-size: 150px;
        line-height: 150px;
    }

    .about__images {
        grid-template-rows: 30% 1fr;
        margin-top: 12%;
    }

    .projects__box-title {
        padding-left: 60px;
        padding-bottom: 30px;
        font-size: 40px;
        line-height: 32px;
    }

    .small-title {
        font-size: 38px;
        line-height: 32px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {



    .switches {
        display: none;
    }

    .figures {
        display: none;
    }

    .first-screen__title {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .first-screen {
        display: block;
        z-index: 1;
    }

    .first-screen__box {
        min-height: 0;
        margin-bottom: 50px;
    }

    .first-screen-block1 {
        display: block;
        min-height: fit-content;
    }

    .first-screen__btn {
        color: $primary-color;
    }

    .about {
        min-height: 32em;
    }

    .about__images {
        display: none;
    }

    .focus__subtitle {
        font-size: 42px !important;

    }

    .focus__descr {
        display: flex;
        flex-direction: column;
    }

    .focus__block {
        margin-bottom: 50px;
    }

    .number {
        font-size: 150px;
        line-height: 150px;
    }

    .focus__first {
        margin-bottom: 10%;
    }

    .projects__subtitle {
        font-size: 48px;
        margin-bottom: 30px;
    }

    .projects__block {
        display: grid;
        row-gap: 30px;

        .img4 {
            display: none;
        }

        .projects__block-top {
            display: grid;
            row-gap: 10px;
            grid-template-columns: 100%;
            grid-template-rows: 50% 50%;
        }

        .projects__block-bottom {
            display: grid;
            grid-template-columns: 47% 46%;
            gap: 20px;
        }

        .about__images {
            display: none;
        }

        .focus__descr {
            display: flex;
            flex-direction: column;
        }

        .focus__block {
            margin-bottom: 50px;
        }

        .number {
            font-size: 150px;
            line-height: 180px;
        }

        .projects__subtitle {
            margin-bottom: 30px;
        }

        .projects__block {
            display: grid;
            row-gap: 40px;

            .img4 {
                display: none;
            }

            .projects__block-top {
                display: grid;
                row-gap: 20px;
                grid-template-columns: 100%;
                grid-template-rows: 50% 50%;
            }

            .projects__block-bottom {
                display: grid;
                grid-template-columns: 47% 46%;
            }
        }

        .projects__box-title {
            font-weight: 500;
            padding-left: 30px;
            padding-bottom: 30px;
            font-size: 36px;
            line-height: 36px;
        }

        .small-title {
            font-size: 38px;
            line-height: 32px;
            padding-left: 30px;
            padding-bottom: 30px;
        }

        .btn-block {
            margin-bottom: 50px;
        }

        .contact__img {
            display: none;
        }

        .contact__form {
            margin-left: 5%;
            max-width: 480px;
        }

        .contact__subtitle {
            font-size: 42px !important;
        }
    }
}