.container {
    @include container;
    min-width: 1170px;
}

.project__title {
    @include h1_with_line
}

.project__content {
    padding: 0px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas:
        "first first"
        "second second"
        "third third";
    gap: 60px;
}

.project__first-content {
    margin: 30px 30px 30px 30px;
}

.project__first {
    background-color: $bacground-color;
    grid-area: first;
    @include display_grid_project;
    @include display_flex_ourproject;


    &-text {
        @include text_style;
    }

    &-title {
        @include title_our_project;

    }

}

.project__first-img {
    max-width: 100%
}

.project__btn-arrow {
    width: 24px;
    margin-left: 18px
}

.project__btn {
    @include button;
    @include button_title;
    background-color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    color: $primary-color;
}

.project__second-content {
    margin: 30px 30px 30px 30px;
}

.project__second {
    background-color: $bacground-color;
    grid-area: second;
    @include display_grid_project;
    @include display_flex_ourproject;

    &-text {
        @include text_style;
        max-width: 100%
    }

    &-title {
        @include title_our_project
    }

    &-img {
        max-width: 100%
    }
}

.project__third-content {
    margin: 30px 30px 30px 30px;
}

.project__third {
    background-color: $bacground-color;
    grid-area: third;
    @include display_grid_project;
    @include display_flex_ourproject;

    &-text {
        @include text_style
    }

    &-title {
        @include title_our_project
    }

    &-img {
        max-width: 100%
    }
}