.container {
    @include container;
}

.project__title-main {
    @include h1_with_line;
}

.project__block {
    padding: 0px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas:
        "first first"
        "second second"
        "third third";
    gap: 60px;
    margin-bottom: 5%;
}

.project__first {
    background-color: $bacground-color;
    grid-area: first;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img text";

    .project__img {
        grid-area: img;
    }

    .project__content {
        grid-area: text;
    }
}

.project__second {
    background-color: $bacground-color;
    grid-area: second;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img text";

    .project__img {
        grid-area: img;
    }

    .project__content {
        grid-area: text;
    }
}

.project__third {
    background-color: $bacground-color;
    grid-area: third;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img text";
}

.project__img {
    grid-area: img;
}

.project__content {
    grid-area: text;
}

.project__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5%;
}

.project__img {
    max-width: 100%
}

.project__title {
    @include title_our_project;
}

.project__text {
    @include text_style;
}

.project__btn {
    display: flex;
    align-items: center;
}

.project__box1 {
    display: flex;
    justify-content: baseline;
    align-items: baseline;


    .project__number {
        margin-right: 2%;
    }
}

@media only screen and (max-width:480px) {

    .project__content {
        display: flex;
        justify-content: flex-start;
    }

    .project__first {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas:
            "img"
            "content";

        .project__img {
            grid-area: img;
        }

        .project__content {
            grid-area: content;
        }
    }

    .project__second {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas:
            "img"
            "content";

        .project__img {
            grid-area: img;
        }

        .project__content {
            grid-area: content;
        }

    }

    .project__third {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas:
            "img"
            "content";

        .project__img {
            grid-area: img;
        }

        .project__content {
            grid-area: content;
        }
    }

}