.sample__title {
    @include h1_with_line
}

.sample__block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-template-areas:
        "one one"
        "two three"
        "four four";
    gap: 30px;
    margin-bottom: 10%;
}

.sample__img-one {
    grid-area: one;
    max-width: 100%;
}

.sample__img-two {
    max-width: 100%;
    grid-area: two;
}

.sample__img-three {
    max-width: 100%;
    grid-area: four;

}

.sample__text {
    @include text_style;
    grid-area: three;
    margin: 0;
}

@media only screen and (max-width:480px) {
   

    .sample__block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr auto 0.5fr;
        grid-template-areas:
            "one"
            "two"
            "three";
    }

    .sample__img-one {
        grid-area: one;
        max-width: 100%;
    }

    .sample__text {
        grid-area: two;
        margin: 0;
    }

    .sample__img-three {
        max-width: 100%;
        grid-area: three;
    }

    .sample__img-two {
        display: none;
    }
}