.sample__title {
    @include h1_with_line
}

.sample__block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "one one"
        "two three"
        "four four";
    gap: 30px;
    margin-bottom: 120px;
}

.sample__img-one {
    grid-area: one;
    max-width: 100%;
}

.sample__img-two {
    max-width: 100%;
    grid-area: two;
}

.sample__img-three {
    max-width: 100%;
    grid-area: four;

}

.sample__text {
    @include text_style;
    grid-area: three;
    margin: 0;
}