@import "../sub_style/reset.css";
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Robotolight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  @font-face {
    font-family: "Roboto";
    src: url("/fonts/Robotomedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Robotobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

.first-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.light-title {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
  text-transform: uppercase;
  width: 280px;
}

.dark-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #333;
  text-transform: none;
}

.first-screen__title {
  margin-bottom: 90px;
}

.switches {
  margin-bottom: 94px;
}

.switch-arrow {
  width: 17px;
  margin-top: 5px;
}

.switch {
  width: 3.3em;
  height: 3.3em;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
}

.right-switch {
  margin-left: 20px;
}

.line {
  width: 270px;
  border: solid 1px #FBFBFB;
  position: relative;
  bottom: 29px;
  left: 129px;
}

.switch:hover {
  background-color: #FBFBFB;
}

.left-arrow {
  transform: rotate(180deg);
}

.figures {
  display: flex;
}

.figure {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: #BDBDBD;
}

.figure:active {
  color: black;
}

.border {
  width: 44px;
  border-bottom: solid 2px #E0E0E0;
  transform: rotate(130deg);
  align-self: center;
  margin: 0 30px;
}

.first-screen__img {
  background-image: url("/assets/image/Rectangle_main.jpg");
  width: 770px;
  height: 829px;
  margin-bottom: 120px;
  display: flex;
}

.first-screen__btn {
  align-self: flex-end;
}

.btn {
  width: 222px;
  height: 71px;
  cursor: pointer;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.first-screen__btn {
  display: flex;
}

.btn-title {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.title-view {
  color: black;
}

.arrow {
  width: 17px;
  margin-left: 18px;
}

.about {
  height: 27em;
  background-color: #FBFBFB;
  display: flex;
  justify-content: center;
}

.about__images {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 63% 1fr;
  gap: 40px;
  margin-left: 80px;
}

.about__article {
  margin-left: 1.87em;
  margin-top: 1.56em;
}

.img--center {
  margin-top: 30px;
}

.subtitle {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
}

.about__title {
  margin-bottom: 20px;
}

.about__text {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: black;
  max-width: 400px;
  margin-bottom: 13%;
}

.about__btn {
  display: flex;
}
.about__btn .title-read {
  color: black;
}

.focus__block {
  margin-bottom: 7.5em;
}

.focus__subtitle {
  margin-top: 9.3%;
  margin-bottom: 3.8%;
}

.focus__descr {
  display: flex;
  justify-content: space-between;
}

.state {
  display: flex;
}

.number {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 200px;
  line-height: 150px;
  color: #F2F2F2;
  margin-right: 4%;
}

.focus__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333;
  align-self: center;
}

.focus__first {
  flex-basis: 35%;
}

.focus__second {
  flex-basis: 50%;
  margin-right: 6%;
}

.focus__two {
  margin-right: 6.5%;
}

.projects__subtitle {
  margin-bottom: 60px;
}

.projects__block {
  display: grid;
  gap: 30px;
}
.projects__block .projects__block-top {
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-columns: 48.5% 49%;
}
.projects__block .projects__block-bottom {
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-columns: 25% 42% 28%;
}

.projects__box {
  position: relative;
  display: flex;
  overflow: hidden;
}

.projects__box::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.671);
  opacity: 0;
  transition: all 0.4s ease;
  content: "";
}

.projects__box:hover:before {
  opacity: 1;
  transition: transform 0.3s ease-in-out;
}

.projects__box-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.projects__box-title {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 79px;
  padding-bottom: 60px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: white;
  transform: translateY(300px);
  transition: transform 0.3s ease-in-out;
}

.small-title {
  font-size: 56px;
  line-height: 50px;
  padding-left: 50px;
  padding-bottom: 90px;
}

.projects__box:hover .projects__box-title {
  opacity: 0.9;
  transform: translateY(0px);
  transition: transform 0.3s ease-in-out;
}

.button-title {
  display: flex;
  align-items: center;
}

.title-more {
  margin-top: 18px;
}

.btn-block {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 120px;
}

.ourproject__btn {
  display: flex;
  background-color: #333;
}

.title-all {
  color: white;
}

.contact__block {
  display: flex;
  justify-content: space-between;
}

.contact__subtitle {
  margin-bottom: 22px;
}

.contact__form-item {
  width: 380px;
  height: 46px;
  background-color: #FBFBFB;
  margin-bottom: 10px;
  padding-left: 21px;
  border: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #8D8D8D;
}

.message {
  padding-top: 14px;
  resize: none;
  height: 8.6em;
  margin-bottom: 4.8em;
}

.contact__btn {
  display: flex;
  background-color: #333;
  margin-bottom: 120px;
}
.contact__btn .title-send {
  color: white;
}

.gallery {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.light-title {
  text-transform: none;
}

.gallery__title {
  margin-top: 3.8%;
  margin-bottom: 2.3%;
}

.gallery__block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  border-top: solid 1px #F2F2F2;
  padding-top: 2.3%;
  margin-bottom: 3.8%;
}

.gallery__item {
  transition: 1.5s;
}

.gallery__item:hover {
  transform: scale(1.2);
}

.gallery__box {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  margin-bottom: 3.8%;
}
.gallery__box .gallery__number {
  margin-right: 2%;
}

@media only screen and (max-width: 480px) {
  .gallery__title {
    display: flex;
    justify-content: center;
  }

  .gallery__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gallery__item:hover {
    transform: none;
  }

  .gallery__item {
    max-width: 210px;
    max-height: 260px;
  }

  .light-title {
    text-align: center;
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.project__title-main {
  display: block;
  max-width: 1170px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #F2F2F2;
}

.project__block {
  padding: 0px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-areas: "first first" "second second" "third third";
  gap: 60px;
  margin-bottom: 5%;
}

.project__first {
  background-color: #FBFBFB;
  grid-area: first;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "img text";
}
.project__first .project__img {
  grid-area: img;
}
.project__first .project__content {
  grid-area: text;
}

.project__second {
  background-color: #FBFBFB;
  grid-area: second;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "img text";
}
.project__second .project__img {
  grid-area: img;
}
.project__second .project__content {
  grid-area: text;
}

.project__third {
  background-color: #FBFBFB;
  grid-area: third;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "img text";
}

.project__img {
  grid-area: img;
}

.project__content {
  grid-area: text;
}

.project__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5%;
}

.project__img {
  max-width: 100%;
}

.project__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  color: #BDBDBD;
}

.project__text {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: black;
}

.project__btn {
  display: flex;
  align-items: center;
}

.project__box1 {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}
.project__box1 .project__number {
  margin-right: 2%;
}

@media only screen and (max-width: 480px) {
  .project__title-main {
    display: flex;
    justify-content: center;
  }

  .project__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .project__first {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "img" "content";
  }
  .project__first .project__img {
    grid-area: img;
  }
  .project__first .project__content {
    grid-area: content;
  }

  .project__second {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "img" "content";
  }
  .project__second .project__img {
    grid-area: img;
  }
  .project__second .project__content {
    grid-area: content;
  }

  .project__third {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "img" "content";
  }
  .project__third .project__img {
    grid-area: img;
  }
  .project__third .project__content {
    grid-area: content;
  }

  .project__title {
    margin-bottom: 10px;
  }

  .project__text {
    margin-bottom: 10px;
  }
}
.sample__title {
  display: block;
  max-width: 1170px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #F2F2F2;
}

.sample__block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-template-areas: "one one" "two three" "four four";
  gap: 30px;
  margin-bottom: 10%;
}

.sample__img-one {
  grid-area: one;
  max-width: 100%;
}

.sample__img-two {
  max-width: 100%;
  grid-area: two;
}

.sample__img-three {
  max-width: 100%;
  grid-area: four;
}

.sample__text {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: black;
  grid-area: three;
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .sample__title {
    display: flex;
    justify-content: center;
  }

  .sample__block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-template-areas: "one" "two" "three";
  }

  .sample__img-one {
    grid-area: one;
    max-width: 100%;
  }

  .sample__text {
    grid-area: two;
    margin: 0;
  }

  .sample__img-three {
    max-width: 100%;
    grid-area: three;
  }

  .sample__img-two {
    display: none;
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.sertif__title {
  margin-bottom: 60px;
}

.certif__img {
  width: 600px;
}

.certif__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-bottom: 120px;
}

.light_title {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
  text-transform: none;
}

.contacts__title {
  margin-bottom: 34px;
}

.contacts__container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.contacts__img {
  background-image: url("/assets/image/map.jpg");
  background-repeat: no-repeat;
  border: 1px solid black;
  max-width: 790px;
  height: 31em;
  margin-left: auto;
}

.contacts__block {
  display: flex;
  flex-direction: column;
  margin-top: -34%;
  margin-left: 8.4%;
}
.contacts__block .contacts__name {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 0px;
  color: #333;
  margin: 0;
  margin-top: -25px;
}
.contacts__block .contacts__name-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #333;
  font-size: 18px;
}
.contacts__block .contacts__coordinate {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  margin-top: 44px;
}
.contacts__block .contacts__email {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  margin-top: 53px;
}
.contacts__block .btn {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
  margin-bottom: 112px;
}
.contacts__block .btn_title {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2em;
}

.header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 6.4rem;
}

.nav__menu {
  display: flex;
  flex-basis: 67%;
  justify-content: space-around;
  align-items: center;
}

.bar {
  display: block;
  width: 24px;
  height: 3px;
  margin: 4px;
  transition: 0.3s;
  background-color: black;
  border-radius: 3px;
}

.hamb {
  display: none;
}

.nav__logo {
  flex-basis: 33%;
}

.nav__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #333;
  text-transform: uppercase;
  flex-basis: 20%;
  text-decoration: none;
  transition: 1.2s;
}

.nav__item:hover {
  transform: scale(1.2);
  border-top: 1px #333 solid;
  border-bottom: 1px #333 solid;
}

@media only screen and (max-width: 480px) {
  .nav__menu {
    position: fixed;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.35s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.5);
    left: -105%;
    top: 6.4rem;
  }

  .nav__menu.active {
    left: 0;
  }

  .nav__item {
    margin: 2.5rem 0;
  }

  .hamb {
    display: block;
    cursor: pointer;
  }

  .hamb.active .bar:nth-child(1) {
    opacity: 0;
  }

  .hamb.active .bar:nth-child(2) {
    transform: rotate(45deg);
  }

  .hamb.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}
.footer {
  background-color: #2C2C2C;
  max-height: 420px;
  max-width: 100%;
}

.footer__content {
  max-height: 350px;
  padding-top: 3.75rem;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  flex-basis: 20%;
  padding-right: 2rem;
}
.footer__logo img {
  max-width: 100%;
}

.footer__info {
  flex-basis: 20%;
}
.footer__info h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: normal;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 1.62rem;
}
.footer__info li {
  padding-bottom: 10%;
  padding-right: 2rem;
}

.footer__contacts {
  flex-basis: 35%;
}
.footer__contacts h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: normal;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 1.8rem;
}
.footer__contacts img {
  max-width: 100%;
  padding-right: 0.9rem;
}
.footer__contacts li {
  padding-bottom: 7%;
}

.footer__contacts-link-break {
  padding-left: 1.5rem;
  padding-bottom: 11%;
}

.footer__sm {
  flex-basis: 20%;
}
.footer__sm h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: normal;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 1.8rem;
}

.footer__sm-title {
  margin-bottom: 1.62rem;
}

.footer__sm-content {
  display: flex;
  flex-direction: row;
}

.footer__rights {
  min-height: 69px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 22px;
  color: rgba(200, 200, 200, 0.5019607843);
  opacity: 50%;
}

a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .footer__logo {
    display: none;
  }

  .footer__info {
    display: none;
  }

  .footer__sm-title {
    display: none;
  }

  .footer__contacts-title {
    display: none;
  }

  .footer__content {
    display: grid;
    grid-column: 2fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "sm" "contacts";
    justify-content: center;
  }

  .footer__contacts-item {
    grid-area: contacts;
  }

  .footer__sm-content {
    grid-area: sm;
    display: flex;
    justify-content: space-around;
  }
}/*# sourceMappingURL=global.css.map */