@import "../sub_style/normalize.css";
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Robotolight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  @font-face {
    font-family: "Roboto";
    src: url("/fonts/Robotomedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Robotobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.first_screen {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.light_title {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  text-transform: uppercase;
  color: #BDBDBD;
  width: 280px;
}

.dark_title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #333;
  text-transform: none;
}

.first_screen__img {
  position: relative;
  margin-bottom: 120px;
}

.first_screen__btn {
  position: absolute;
  bottom: -46%;
  right: 46.1%;
}

.btn {
  width: 222px;
  height: 71px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.first_screen__btn {
  display: flex;
}

.btn_title {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
  margin-left: -15%;
}

.arrow {
  width: 17px;
  margin-left: 18px;
}

.about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  height: 435px;
  background-color: #FBFBFB;
  display: flex;
  justify-content: space-around;
}

.about_images {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 63% 1fr;
  gap: 40px;
  margin-left: 80px;
}

.about__article {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
}

.img--center {
  margin-top: 30px;
}

.about__title {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
}

.about__text {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: black;
  max-width: 400px;
}

.header {
  width: 100%;
  min-height: 102px;
  display: flex;
  align-items: center;
}
.header__logo {
  flex-basis: 25%;
  justify-self: start;
}
.header__nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}
.header a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #333;
  text-decoration: none;
}
.header #mn {
  padding: 4px 8px 4px 8px;
  border-top: 1px #333 solid;
  border-bottom: 1px #333 solid;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

footer {
  background-color: #2C2C2C;
  max-height: 420px;
}

.footer {
  width: 100%;
  height: 100%;
}
.footer__content {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.footer__info {
  flex-grow: 1;
}
.footer__info h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 26px;
}
.footer__info li {
  padding-bottom: 20px;
}
.footer__contacts {
  flex-grow: 1;
}
.footer__contacts h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 30px;
}
.footer__contacts img {
  padding-right: 15px;
}
.footer__contacts-link-break {
  padding-left: 24px;
  padding-bottom: 40px;
}
.footer__contacts li {
  padding-bottom: 30px;
}
.footer__sm {
  flex-grow: 0.5;
  display: inline;
  padding-right: 33px;
}
.footer__sm h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 28px;
}
.footer .footer__sm-title {
  margin-bottom: 26px;
}
.footer__rights {
  min-height: 69px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 22px;
  color: rgba(200, 200, 200, 0.5019607843);
  opacity: 50%;
}
.footer__logo {
  flex-grow: 1;
  margin-left: -35px;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}/*# sourceMappingURL=global.css.map */